extends layout
block body
  div(class="container")      
    h4 Available rooftops
    table(class="table table-striped")
      tr
        th Name
        th Neighborhood
        th Minimum Offer
      each roof in roofs
        tr
          td <a href="/roof/#{roof._id}">#{roof.name}</a>
          td #{roof.neighborhood}
          td $0
    p: a(href="/") back
