extends layout
block body
  div(class="hero-unit")
    h1(class="hero-text") The sky is ours!
<<<<<<< HEAD
    p Residential rooftops for all
=======
    p Make access to residential rooftops public.
>>>>>>> a5462eca14b01c6029ea844354c9d886eaee3648
    if (!authenticated)
      a(href="/signup") Join the fun now! 

