doctype 5
html(lang="en")
  head
    title GothamSkies
    link(rel="stylesheet", href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css")
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    style(type="text/css")
      body {
        padding-top:60px;
        padding-bottom:40px;
      }
    link(rel="stylesheet", href="/css/bootstrap-responsive.css")
    script(src="http://code.jquery.com/jquery-1.8.3.js")
    script(src="http://code.jquery.com/ui/1.9.2/jquery-ui.js")
    script
      $(function() {
        $( "#datepicker" ).datepicker();
      });
  body
    script(src="http://code.jquery.com/jquery-latest.js")
    script(src="/js/bootstrap.min.js")
    //
    // BODY
    //
    div(class="navbar navbar-inverse navbar-fixed-top")
      div(class="navbar-inner")
        div(class="container")
          a(class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse") 
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="brand", href="/") GothamSkies
          div(class="nav-collapse collapse")
            ul(class="nav")
              li(class="active"): a(href="/") hello
              li: a(href="/") world!

    div(class="container")
      if (authenticated)
        ul(class="nav nav-pills")
          li(class="active"): a(href='/') Home
          if (me.type == 'guest')
            li: a(href="/explore") Explore
          else if (me.type == 'host')
            li: a(href="/newroof") Add a Rooftop 
          else
                  // if accountType isn't set, display nothing.
          li: a(href="/userrequests") Requests
          li: a(href="/logout") Logout
          // li: a(href="/setup") My Account
       else
         ul(class="nav nav-pills")
           li: a(href="/signup") Signup
           li: a(href="/login") Login
      hr
      block body
      hr
      footer
        p &copy 2012, H&A, Inc. &middot; <a href="/">Privacy</a> &middot; <a href="/">Terms</a>
    
